<h1>ProjectsUsers#NEW</h1>

<%= form_for @project_user do |f| %>
<p>
    <%= f.label 'Project' %>
    <%= f.integer_field :project_id %>
  </p>
  
  <p>
    <%= f.label 'User' %>
    <%= f.integer_field :user_id %>
  </p>

  
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%# <%= render 'projects_users/formProjectsUsers' %> %>
