<h1>Projects#index</h1>


<% if current_user.user_type.capitalize == 'Manager' %>
<%= link_to 'Create New Project', new_project_path, class: "btn btn-outline-secondary ml-auto" %>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Manager</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <th scope="row"><%= project.id %></th>
      <td><%= link_to project.title, project_path(project) %></td>
      <td><%= project.description %></td>
      <td><%= project.manager.username.capitalize %></td>
      <td>
        <%= link_to 'View', project_path(project) %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Delete', project_path(project), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
